.modal-width{
    
    max-width: 345px;
    margin: 0 auto;
   
    @include media-breakpoint-up(md){
        max-width: 690px;
    }

    @include media-breakpoint-up(lg){
        max-width: 920px;
    }
}