header .logo {
	width: 96px;
    height: 31px;
    background-image: url('../../../assets/images/DOYOGA-logo.png');
		// @include media-breakpoint-up(md){
		// 	background-image: url(../../assets/images/photo-1593810451137-5dc55105dace.jpeg);
		// 	// height: 30vh; 給高度
		// }
}

