.banner {
    height: 530px;
    background-image: url('../../assets/images/photo-1612157777902-5382bc6e864b.jpeg');
    background-position: bottom center;
    background-size: cover;
    @include media-breakpoint-up(md) { height: 585px; }
    @include media-breakpoint-up(lg) { height: 585px; }
}

.feature .card-img{
    height: 420px;
    @include media-breakpoint-up(md) { height: 252px; }
    @include media-breakpoint-up(lg) { height: 420px; }
    
}

.teacher-img{
    height:628px;
}

.intro a:hover{
    color:#C0A4A5;
}

.plan{

    .card img{
        height: 243px;
      }

    @include media-breakpoint-up(sm) { 
        .card img{
            height: 243px;
          }
    }    
      
    @include media-breakpoint-up(md) { 
        .card img{
            width: 345px;
            height: 238px;
        }
    }  
    @include media-breakpoint-up(lg) {
      .card img{
        height: 243px;
      }
    }

    .card-img-top {
        border-top-left-radius: calc(1rem - 1px);
        border-top-right-radius: calc(1rem - 1px);
       
          
        @include media-breakpoint-up(md) { 
    
            border-top-left-radius: calc(1rem - 1px);
            border-bottom-left-radius: calc(1rem - 1px);
            border-top-right-radius: 0;
        }  
        @include media-breakpoint-up(lg) {
            border-top-left-radius: calc(1rem - 1px);
            border-top-right-radius: calc(1rem - 1px);
            border-bottom-left-radius: 0;
        }
    }
    

}




// @media (min-width: 414px) {
//     .plan .card {
//       flex-direction: column !important;
//     }
//     .plan .card .divide {
//       width: 100%;
//     }
//   }
  
//   @media (min-width: 576px) {
//     .plan .card {
//       flex-direction: row !important;
//     }
//     .plan .card .divide {
//       width: 50%;
//     }
//   }


  
//   @media (min-width: 768px) {
//     .plan .card {
//       flex-direction: row !important;
//     }
//     .plan .card .divide {
//       width: 50%;
//     }
  
//   }
  
//   @media (min-width: 992px) {
//     .plan .card {
//       flex-direction: column !important;
//     }
//     .plan .card .divide {
//       width: 100%;
//     }
//   }