.reservationstep .nav-link{
    color: #907A7B;
    background-color: #F5F0E7;
   
}

.reservationstep .nav-link.active{
    color: #fff;
    background-color: #907A7B;
}

.choose:hover{
    border: #fff solid 4px;
}





.datepicker-cell.selected, .datepicker-cell.selected:hover {
    background-color: #907A7B;
  }
  .datepicker-picker{
    color: #907A7B;
  }