// header .logo {
// 	width: 96px;
//     height: 31px;
//     background-image: url('../../assets/images/DOYOGA-logo.png');
// }

// footer .logo {
//     width: 96px;
//     height: 31px;
//     background-image: url('../../../assets/images/DOYOGA.png');
// }

.logo {
    width: 96px;
    height: 31px;
}

.header-logo{
    background-image: url('../../assets/images/DOYOGA-logo.png');
}

.footer-logo{
    background-image: url('../../assets/images/DOYOGA.png');
}

.bgcover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-hide{
	text-indent: 110%;
    overflow: hidden;
    white-space: nowrap;
}

.object-fit{
	object-fit: cover;
}

.text-hover-white:hover{
	color: #fff;
}

.img-hover:hover{
    opacity: 0.9;
}

.social-icon {
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.material-icons{
    vertical-align: text-top;
}


.btn-hover-opacity:hover{
            opacity: 0.8;
}

.margin-negative{
    margin-left: 0px;

    
    @include media-breakpoint-up(lg){
        margin-left: -100px;
    }
}

.hover-secondary:hover{
    background-color: #907A7B;
}

.hover-primary:hover{
    background-color: #c6adae;;
    color: #fff;
}