.logo {
	background-image: url(../../assets/images/photo-1552196527-9a20ba4db2c3.jpeg);
	height: 50vh;
		@include media-breakpoint-up(md){
			background-image: url(../../assets/images/photo-1593810451137-5dc55105dace.jpeg);
			height: 30vh;
		}
	}

.bgCoverCenter{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.object-fit{
	object-fit: cover;
}