// stylelint-disable indentation

// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default

$utilities: map-merge(
  (

    "font-size": (
      responsive: true, //new
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
    "font-weight": (
      responsive: true, //new
      property: font-weight,
      class: fw,
      values: (
        light: $font-weight-light,
        lighter: $font-weight-lighter,
        regular: $font-weight-regular,//new
        medium: $font-weight-medium,//new
        bold: $font-weight-bold,
        bolder: $font-weight-bolder
      )
    ),

    "width": (
      responsive: true,
      property: width,
      class: w,
      values: (
        30: 30%,
        35: 35%,
        40: 40%,
        45: 45%,
        55: 55%,
        60: 60%,
        65: 65%,
        70: 70%,
        80: 80%,
        85: 85%,
        90: 90%,
        95: 95%,
        100: 100%,
        auto: auto
      )
    ),
    "rounded": (
      property: border-radius,
      class: rounded,
      values: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        4: $border-radius-xl,
        circle: 50%,
        pill: $border-radius-pill
      )
    ),
    "height": (
      property: height,
      responsive: true,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    
  ),
  $utilities
);
